<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    ngModel
    autocomplete="off"
    required
    [placeholder]="placeholder"
    [value]="value"
    (input)="updateValue($event.target.value)"
  />
  <mat-error>Campo obligatorio</mat-error>
</mat-form-field>
