<div class = botones>
  <app-nav-bar></app-nav-bar>
  <button id="volver-consulta" (click)="logout()">Cerrar sesión</button>
</div>

<app-center-layout>
  <div id="pacientes-no-asociados" class="column">
    <mat-card>
    <h2>Pacientes de otros doctores
    <input type="text" id="myInput"  [(ngModel)]="dni" 
    placeholder="Buscar por dni">
    <button (click)="buscar()">Buscar</button>
    <button id="btn-formulario-paciente" (click)="pacienteNuevo()"><b>Paciente nuevo ingreso</b></button>
  </h2>
    <table id="pacsNoAsociados" class="table table-striped">
      <thead>
        <tr class="header">
          <th>DNI</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Género</th>
          <th>Fecha del nacimiento</th>
          <th>Correo Electrónico</th>
          <th>Fecha del registro</th>
          <th>Fecha de la última consulta</th>
          <th> </th>
        </tr>
      </thead>
      <tbody *ngIf="pacientesDisponibles()">
        <tr *ngFor="let p of pacientesNoAso?.pacientes">
          <td>{{ p.dni.toUpperCase() }}</td>
          <td>{{ p.nombre }}</td>
          <td>{{ p.apellido }}</td>
          <td>{{ p.genero }}</td>
          <td>{{ p.fechaNacimiento}}</td>
          <td>{{ p.email }}</td>
          <td>{{ p.fechaRegistro }}</td>
          <td>{{ p.fechaUltimaConsulta }}</td>
          <td><button id="btn-asociarse" (click)="asociarPac(p.dni)"><b>Asociar este paciente con usted</b><i class="fa fa-send"></i></button></td>
        </tr>
        <!--
        <tr *ngIf="p?.length == 0">
          <td colspan="4" class="no-data-available">No data!</td>
        </tr> -->
      </tbody> 
    </table>
    
    <div class="numPagPac" align="right">
      <button class="flechas" *ngIf="masPaginasIzqNoPac()" (click)="antPagNoPac()">
        <i class="fa fa-caret-square-o-left"></i>
        <b>Anterior</b>
      </button>
  
      <h5> {{pacientesNoAso?.infoPagina?.pageNumber}}/{{pacientesNoAso?.infoPagina?.totalPages}} </h5>
  
      <button class="flechas" *ngIf="masPaginasDchaNoPac()" (click)="sigPagNoPac()">
        <i class="fa fa-caret-square-o-right"></i>
        <b>Siguiente</b>
      </button>
    </div>
  </mat-card>
  </div>

</app-center-layout>
