<div class = botones>
  <button id="ayuda-consulta" (click)="ayuda()">Ayuda</button>
  <button id="volver-consulta" (click)="volver()">Volver</button>
</div>

<app-center-layout class = "column container">
  <h1>Registrar paciente</h1>
  <mat-card class="column">
    <mat-card-content>
      Introduzca los datos del nuevo paciente a registrar en el sistema.
    </mat-card-content>
    <mat-form-field>
      <mat-label>DNI</mat-label>
      <input
        matInput
        required
        placeholder="Ej: 00000000X"
        [(ngModel)]="paciente.dni"
      />
      <mat-error>Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
        matInput
        required
        placeholder="Ej: José"
        [(ngModel)]="paciente.nombre"
      />
      <mat-error>Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellidos</mat-label>
      <input
        matInput
        required
        placeholder="Ej: González Pérez"
        [(ngModel)]="paciente.apellido"
      />
      <mat-error>Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Género</mat-label>
      <mat-select 
      required
      [(ngModel)]="paciente.genero">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="femenino">Femenino</mat-option>
        <mat-option value="X">Otro</mat-option>
      </mat-select>      
      <mat-error>Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de nacimiento</mat-label>
      <input
        matInput
        required
        placeholder="Ej: yyyy-mm-dd"
        [matDatepicker]="picker"
        [(ngModel)]="paciente.fechaNacimiento"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        required
        placeholder="Ej: josegonpez@email.com"
        [(ngModel)]="paciente.email"
      />
      <mat-error>Campo obligatorio</mat-error>
    </mat-form-field>
    
    <div class="button-container">
      <button
      mat-raised-button
      color="primary"
      [disabled]="isInvalid()"
      (click)="submit()"
      >
      Enviar
      </button>
    </div>
    
  </mat-card>
</app-center-layout>
  