<h1 mat-dialog-title>AYUDA</h1>
<div mat-dialog-content>
  Debe completar todos los campos para poder finalizar el informe.<br>
  Si necesita dejar un campo en blanco presione la barra espaciadora.<br>
  Si en alguno de los 3 primeros campos, quiere añadir más de
  dos situaciones, las debe separar por un punto. Ej: ibuprofeno.ebastina.
</div>
