.container{

  padding: 20px;

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 20px;
}

::placeholder {
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}



span.psw {
  float: right;
  padding-top: 16px;
}
}
#btn{
  font-family: sans-serif;
  font-size: 25px;
    
  text-decoration: none;
  color: white;
  
  background-color: #4CAF50;
  border: solid black 1px;
  padding: 0.2rem 0.5rem;
  

}