<app-center-layout>
  <mat-card>
    <!-- <app-nav-bar></app-nav-bar> -->
    <h1 id="login-page-title" style="font-family: Georgia, serif; margin-left: 42%;">Login</h1>

    <div class="container">  
      <label for="uname" style="font-size: large"><b>DNI</b></label>
      <input type="text" [(ngModel)]="datos.dni" style="height:50px" placeholder= "Introduzca el DNI" name="uname" required/>

      <label for="psw" style="font-size: large"><b>Contraseña</b></label>
      <input type="password" [(ngModel)]="datos.contrasena" style="height:50px" placeholder= "Introduzca la contraseña" name="pwd" required/>
      <button type="submit" (click)="login()" style="font-size:larger"><b>Entrar</b></button>
    </div>

    <!-- Error de login en caso de usuario y/o contraseñas incorrectas -->

    <div id="error" style="display: none; color: red;" >
      <p><b>Error: usuario y/o contraseña incorrectos. Inténtelo de nuevo. </b></p>
    </div>

    <div id="error-dni" style="display: none; color: red;" >
      <p><b>Error: DNI no tiene el formato adecuado. Ej.: 12345678a</b></p>
    </div>
  </mat-card>
</app-center-layout>
