<!-- <app-nav-bar-element id="login-link" link="/">Login</app-nav-bar-element> -->
 <!--<app-nav-bar-element id="home-link" link="/home">Home</app-nav-bar-element>-->
 <app-nav-bar-element id="nueva-consulta-link" link="/nueva_consulta">Nueva Consulta</app-nav-bar-element>
 <app-nav-bar-element id="nuevo-paciente-link" link="/nuevo_paciente">Nuevo Paciente</app-nav-bar-element>