.botones{
    display:flex;
    justify-content: flex-end;
    height: 40px;
    background-color: #020000; 
    button{
      margin: 5px;
      height: 30px;
      width: 100px;
    }
}

.container {
    align-items: center;
    padding: 2rem;
    mat-card {
      width: 70%;
      gap: 1rem;
  
      mat-card-content {
        font-size: 1rem;
      }
      .button-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        button {
          width: fit-content;
          font-size: 1.2rem;
        }
      }
    }
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }

  
