

<div class = botones>
  <button id="ayuda-consulta" (click)="ayuda()" >Ayuda</button>
  <button id="volver-consulta" (click)="volver()">Volver</button>
</div>


  <app-center-layout class = "column container">
  <h1>Informe consulta</h1>
  <mat-card class="column">
    <mat-card-content>
      <p>Nombre paciente: {{nomPac}} {{apePac}}</p><br>
      <p>Fecha: {{fecha}}</p>
    </mat-card-content> 
    <mat-card-title>Rellene los siguientes campos</mat-card-title>  
    <mat-form-field>
      <mat-label>Enfermedades diagnosticadas</mat-label>
      <textarea
        matInput
        placeholder="Ej: enfermedad1.enfermedad2"
        [(ngModel)]="consulta.enfermedadesDiagnosticadas"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Medicamentos recetados</mat-label>
      <textarea
        matInput
        placeholder="Ej: medicamento1.medicamento2"
        [(ngModel)]="consulta.medicamentosRecetados"
      ></textarea>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Pruebas laboratorio</mat-label>
      <textarea
        matInput
        placeholder="Ej: pruebas1.pruebas2"
        [(ngModel)]="consulta.pruebasDeLaboratorioARealizar"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Observaciones</mat-label>
      <textarea
        matInput
        [(ngModel)]="consulta.observaciones"
      ></textarea>
    </mat-form-field>
    <div class="button-container">
      <button
      mat-raised-button
      color="primary"
      [disabled]="isInvalid()"
      (click)="submit()"
      >
      Enviar
      </button>
    </div>
  </mat-card> 
</app-center-layout>

  