
<div class = botones> 
  <app-nav-bar></app-nav-bar>
  <button id="volver-consulta" (click)="logout()" class="boton">Cerrar sesión</button>
</div>

<app-center-layout>  
<div id="pacientes-asociados" class="column">
<mat-card>
  <h2>Mis pacientes
    <input type="text" id="myInput"  [(ngModel)]="dni" 
    placeholder="Buscar por dni">
    <button (click)="buscar()">Buscar</button>
  </h2>
  <table id="pacsAsociados" class="table table-striped">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Género</th>
        <th>Fecha del nacimiento</th>
        <th>Correo Electrónico</th>
        <th>Fecha del registro</th>
        <th>Fecha de la última consulta</th>
        <th> </th>
      </tr>
    </thead>
    <tbody *ngIf="pacientesDisponibles()">
      <tr *ngFor="let p of pacientesAso?.pacientes ">
        <td>{{ p.dni.toUpperCase() }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.apellido }}</td>
        <td>{{ p.genero }}</td>
        <td>{{ p.fechaNacimiento}}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.fechaRegistro }}</td>
        <td>{{ p.fechaUltimaConsulta }}</td>
        <td><button id="btn-consultas" (click)="mostrarConsulta(p.dni,p.nombre,p.apellido,p.fechaUltimaConsulta)"><b>Consultas</b><i class="fa fa-send"></i></button></td>
      </tr>
      <!--
      <tr *ngIf="p?.length == 0">
        <td colspan="4" class="no-data-available">No data!</td>
      </tr> -->
    </tbody> 
  </table>
  
  <div class="numPagPac" align="right">
    <button class="flechas" *ngIf="masPaginasIzqPac()" (click)="antPagPac()">
      <i class="fa fa-caret-square-o-left"></i>
      <b>Anterior</b>
    </button>

    <h5> {{pacientesAso?.infoPagina?.pageNumber}}/{{pacientesAso?.infoPagina?.totalPages}} </h5>

    <button class="flechas" *ngIf="masPaginasDchaPac()" (click)="sigPagPac()">
      <i class="fa fa-caret-square-o-right"></i>
      <b>Siguiente</b>
    </button>
  </div>
  </mat-card>
</div>

<div id="consultas-previas-paciente" style="display: none;" class="column">
  <mat-card>
  <h2>Consultas previas del paciente:  {{ nombrePaciente }} {{apellidosPaciente}}</h2>
   <button id="anadir-consulta" (click)="consultaNueva()"> 
    <h3>Nueva consulta</h3>
  </button>
  <h2 id="noConsultasPrevias" style="display: none; color: red;">
    NO TIENE CONSULTAS PREVIAS.
  </h2>
  <table id="consPrevias" class="table table-striped" style="display: none;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Enfermedades diagnosticadas</th>
        <th>Medicamentos Recetados</th>
        <th>Pruebas de Laboratorio a Realizar</th>
        <th>Observaciones</th>
        <th>DNI del doctor encargado</th>
        <th>Fecha de consulta</th>
      </tr>
    </thead>
    <tbody *ngIf="consultasDisponibles()">
      <tr *ngFor="let c of consultasPre?.consulta">
        <td>{{ c.idConsulta}}</td>
        <td>{{ c.enfermedadesDiagnosticadas}}</td>
        <td>{{ c.medicamentosRecetados }}</td>
        <td>{{ c.pruebasDeLaboratorioARealizar }}</td>
        <td>{{ c.observaciones}}</td>
        <td>{{ c.dniDoctor.toUpperCase() }}</td>
        <td>{{ c.fechaConsulta}}</td> 
      </tr>
      <!--
      <tr *ngIf="p?.length == 0">
        <td colspan="4" class="no-data-available">No data!</td>
      </tr> -->
    </tbody> 
  </table>
  <div class="numPagCon" id="botonesConsultasPrevias" align="right">

    <button class="flechas" *ngIf="masPaginasIzqCon()" (click)="antPagCon()" >
      <b>Anterior</b>
    </button>

    <h5> {{consultasPre?.infoPagina?.pageNumber}}/{{consultasPre?.infoPagina?.totalPages}} </h5>

    <button class="flechas" *ngIf="masPaginasDchaCon()" (click)="sigPagCon()">
      <i class="fa fa-caret-square-o-right"></i>
      <b>Siguiente</b>
    </button>
  </div>
</mat-card>
</div>
</app-center-layout>


