h1{
    font-size: 60px;
    text-align: center;  
}
h2{
    padding-top: 40px;
    padding-left: 10px;
    font-family: Arial;
    text-align: left;
    text-decoration-style: solid;
}
// Titulo secundario
h5{
    padding-top: 10px;
    padding-left: 20px;
    font-family: Arial;
    text-align: right;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2%;
    max-width: 1200px;
}

// Datos de la tabla
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

// Titulos de la tabla
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: cadetblue;
}
  
  // Poner las filas pares de la tabla con fondo gris
  tr:nth-child(even) {
    background-color: lightblue;
}
  
// Botones
#btn-consultas{
    width: 70px;
    height: 30px;
    text-align: center;
    border: 1px solid grey;
    background-color:rgb(170, 147, 235);
}

#flechas{
    width: 70px;
    height: 30px;
    text-align: center;
}

#anadir-consulta{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 1px solid grey;
    background-color:cornsilk;
}
input[type=text]{
    width: 200px;
    height: 50px;
    padding: 12px 10px;
    //margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    //position: absolute;
    //top: 150px;
    //left: 500px;
}
.botones{
    display:flex;
    justify-content: flex-end;
    height: 40px;
    background-color: #020000; 
    
    button{
      background-color: white;
      margin: 2px;
      margin-left: 34%;
      margin-right: 5px;
      height: auto;
      width: 100px;
    }
}


.column{
    
    align-items: center;
    mat-card{
        
        padding: 30px;
        
        gap: 1rem;
        align-items: center;
        justify-content: center;
        float: none;
    }
}