

<app-center-layout class = "column">
  <!--<app-nav-bar></app-nav-bar>-->
  <mat-card>
    <h1 id="home-page-title" style="font-family: Georgia, serif; display: none;">Bienvenido</h1>
    <h1 id="home-page-title2" style="font-family: Georgia, serif; display: none;">Bienvenida</h1>
    <p id="home-page-p-content">{{usuario?.nombre}} {{usuario?.apellidos}}</p>

    <p>Por favor, espere <span id ="countdown">4</span> segundos</p>

    <button (click)=continuar() style="font-size: medium;"><b>Continuar</b></button>
    
    <br>
  </mat-card>
</app-center-layout>
