h1{
    font-size: 60px;
    text-align: center;  
}
p{
    font-size: 50px;
    text-align: center;
    font-family: Georgia, serif;
}

.column{
    
    align-items: center;
    padding: 30px;
    mat-card{
        margin-top: 15%;
        padding: 30px;
        width: 70%;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        float: none;
        button {
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            margin-top: 10px;
            background-color: rgb(184, 234, 217);
            border-radius: 15px;
            border: none;
        }
        
    }
}